
.authbadge {
  padding: 3px 10px;
  background-color: gray;
}
.authbadge:hover {
  background-color: white;
}
.authbadge:active {
  background-color: black;
}
.authbadge img {
  height: 28px;
  width: 28px;
  padding: 0px;
  margin: 0px;
  border: none;
  text-align: center;
  vertical-align: middle;
}


#settings-profile-image {
  height: 48px;
  width: 48px;
  background-color: gray;
}
#settings-username, #settings-nickname {
  vertical-align: top;
  margin-left: 0.5em;
}
#settings-nickname {
  color: #888;
  font-size: 90%;
  font-weight: normal;
}
