<!DOCTYPE html><html><head><title>booksearch</title></head><body>

<div id="booksearch" data-role="page">
  <div data-role="header">
    <span data-role="authbadge"></span>
    <h1>蔵書検索</h1>
  </div>
  <div data-role="content">
    <p>これからつくるよ。</p>
  </div>
  <div data-role="footer" data-position="fixed">
    <div data-role="navbar" data-icon-pos="top">
      <ul>
        <li><a href="#menu" data-icon="home">Home</a></li>
        <li><a href="#booksearch" data-icon="search">Booksearch</a></li>
        <li><a href="#about" data-icon="info">About</a></li>
      </ul>
    </div>
  </div>
</div>


</body></html>
