<!DOCTYPE html><html><head><title>menu</title></head><body>

<div id="session" data-role="page">
  <div data-role="header">
    <a data-rel="back" data-icon="back">Back</a>
    <h1>Settings</h1>
  </div>
  <div data-role="content">

    <div id="account-info" class="ui-body ui-body-d">
      <h4><img id="settings-profile-image"><span id="settings-username"></span><span id="settings-nickname"></span></h4>
      <div id="account-session-button">
      </div>
    </div>

  </div>
</div>

</body></html>
